@using Microsoft.AspNet.Identity;

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>

            @if(User.Identity.IsAuthenticated)
                {
                    <span class="lead fw-normal text-white-50 mb-0">Xin chao + @User.Identity.Name |</span>  
                       
                    <span> <a href="/Login/Logout">Log out</a> </span>
                }
                else
                {
                    <span class="lead fw-normal text-white-50 mb-0">Session Working is expired</span> 
                } 
                
            </p>
        </div>
    </div>
</header>
